
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<title>WishListings - <%= wish.name %></title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
        <h2 class="title"><%= wish.name %></h2>
		<main class="newItem">

			<label> <img src="<%= wish.img %>" alt="<%= wish.name %>" width="300" height="300">
			</label>
			<br>
				<label> Owner: <%= wish.owner %>
				</label> 
				<br>
				<label> Description: <%= wish.description %>
				</label>
				<br>
				<% if(wish.isPurchased == false) { %>
					Purchased: <span style="color: green">Available</span>
				<% } else { %>
					Puschased: <span style="color: red">Unavailable</span>
				<% } %>
				<br>
				<label> Price : <%= wish.price %>
				</label>
				<br>
					<nav>
						<% if(user == wish.admin || user == wish.owner) { %>
							<form action="/wishlist/<%= wish._id %>?_method=DELETE" method="POST">
								<input class="cartUnButton" type="submit" value="Delete this Wish">
							</form>
							<% if(wish.isPurchased == false) { %>
								<a href="/wishlist/<%= wish._id %>/edit">Edit This Wish</a>
								<% } %>
								<% } %>
							</nav>
							<nav>
								<a href="/wishlist">Back to Wishlist</a>
								<br>
								<a href="/wishlist/new">Add a New Wish</a>
							</nav>
						</main>
						</body>
						<footer class="indexFooter">
							<%- include('../partials/footer.ejs') %>
						</footer>
</html>